---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb378ae5d0c4e9472ffce2b80756ce38a5957823883cc6e3d86a3f5b1416e3b5"
      Last-Modified:
      - Fri, 11 Jun 2021 16:20:29 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1623530563'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"suzkiee","id":70981102,"node_id":"MDQ6VXNlcjcwOTgxMTAy","avatar_url":"https://avatars.githubusercontent.com/u/70981102?v=4","gravatar_id":"","url":"https://api.github.com/users/suzkiee","html_url":"https://github.com/suzkiee","followers_url":"https://api.github.com/users/suzkiee/followers","following_url":"https://api.github.com/users/suzkiee/following{/other_user}","gists_url":"https://api.github.com/users/suzkiee/gists{/gist_id}","starred_url":"https://api.github.com/users/suzkiee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/suzkiee/subscriptions","organizations_url":"https://api.github.com/users/suzkiee/orgs","repos_url":"https://api.github.com/users/suzkiee/repos","events_url":"https://api.github.com/users/suzkiee/events{/privacy}","received_events_url":"https://api.github.com/users/suzkiee/received_events","type":"User","site_admin":false,"contributions":158},{"login":"BrianZanti","id":8962411,"node_id":"MDQ6VXNlcjg5NjI0MTE=","avatar_url":"https://avatars.githubusercontent.com/u/8962411?v=4","gravatar_id":"","url":"https://api.github.com/users/BrianZanti","html_url":"https://github.com/BrianZanti","followers_url":"https://api.github.com/users/BrianZanti/followers","following_url":"https://api.github.com/users/BrianZanti/following{/other_user}","gists_url":"https://api.github.com/users/BrianZanti/gists{/gist_id}","starred_url":"https://api.github[...]
