---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/little-esty-shop/pulls?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, delete_repo, read:repo_hook, repo, repo:status, repo_deployment,
        security_events, write:repo_hook
      Location:
      - https://api.github.com/repositories/375803339/pulls?state=all
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4886'
      X-Ratelimit-Reset:
      - '1626220483'
      X-Ratelimit-Used:
      - '114'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/375803339/pulls?state=all","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Tue, 13 Jul 2021 22:55:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/guild-market/pulls?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f621882a0884ccfc3479c323da243b269ec59d3e59a16455c77a5ca1e1516357"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3973'
      X-Ratelimit-Reset:
      - '1626220483'
      X-Ratelimit-Used:
      - '1027'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/jamogriff/guild-market/pulls/4","id":670809270,"node_id":"MDExOlB1bGxSZXF1ZXN0NjcwODA5Mjcw","html_url":"https://github.com/jamogriff/guild-market/pull/4","diff_url":"https://github.com/jamogriff/guild-market/pull/4.diff","patch_url":"https://github.com/jamogriff/guild-market/pull/4.patch","issue_url":"https://api.github.com/repos/jamogriff/guild-market/issues/4","number":4,"state":"closed","locked":false,"title":"Implement
        discounts","user":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/users/jamogriff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamogriff/subscriptions","organizations_url":"https://api.github.com/users/jamogriff/orgs","repos_url":"https://api.github.com/users/jamogriff/repos","events_url":"https://api.github.com/users/jamogriff/events{/privacy}","received_events_url":"https://api.github.com/users/jamogriff/received_events","type":"User","site_admin":false},"body":"","created_at":"2021-06-15T22:53:09Z","updated_at":"2021-06-15T22:54:58Z","closed_at":"2021-06-15T22:54:54Z","merged_at":"2021-06-15T22:54:54Z","merge_commit_sha":"1a7348032a9abe069cafb5ab5d3f04cee145c10a","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/jamogriff/guild-market/pulls/4/commits","review_comments_url":"https://api.github.com/repos/jamogriff/guild-market/pulls/4/comments","review_comment_url":"https://api.github.com/repos/jamogriff/guild-market/pulls/comments{/number}","comments_url":"https://api.github.com/repos/jamogriff/guild-market/issues/4/comments","statuses_url":"https://api.github.com/repos/jamogriff/guild-market/statuses/aa9cc8da788c0c47bc420803af0b101676c48ce9","head":{"label":"jamogriff:implement-discounts","ref":"implement-discounts","sha":"aa9cc8da788c0c47bc420803af0b101676c48ce9","user":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/users/jamogriff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamogriff/subscriptions","organizations_url":"https://api.github.com/users/jamogriff/orgs","repos_url":"https://api.github.com/users/jamogriff/repos","events_url":"https://api.github.com/users/jamogriff/events{/privacy}","received_events_url":"https://api.github.com/users/jamogriff/received_events","type":"User","site_admin":false},"repo":{"id":375803339,"node_id":"MDEwOlJlcG9zaXRvcnkzNzU4MDMzMzk=","name":"guild-market","full_name":"jamogriff/guild-market","private":false,"owner":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/users/jamogriff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamogriff/subscriptions","organizations_url":"https://api.github.com/users/jamogriff/orgs","repos_url":"https://api.github.com/users/jamogriff/repos","events_url":"https://api.github.com/users/jamogriff/events{/privacy}","received_events_url":"https://api.github.com/users/jamogriff/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jamogriff/guild-market","description":"A
        TDD-driven Rails application to replicate \"Etsy-like\" marketplace functionality.
        ","fork":true,"url":"https://api.github.com/repos/jamogriff/guild-market","forks_url":"https://api.github.com/repos/jamogriff/guild-market/forks","keys_url":"https://api.github.com/repos/jamogriff/guild-market/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jamogriff/guild-market/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jamogriff/guild-market/teams","hooks_url":"https://api.github.com/repos/jamogriff/guild-market/hooks","issue_events_url":"https://api.github.com/repos/jamogriff/guild-market/issues/events{/number}","events_url":"https://api.github.com/repos/jamogriff/guild-market/events","assignees_url":"https://api.github.com/repos/jamogriff/guild-market/assignees{/user}","branches_url":"https://api.github.com/repos/jamogriff/guild-market/branches{/branch}","tags_url":"https://api.github.com/repos/jamogriff/guild-market/tags","blobs_url":"https://api.github.com/repos/jamogriff/guild-market/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jamogriff/guild-market/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jamogriff/guild-market/git/refs{/sha}","trees_url":"https://api.github.com/repos/jamogriff/guild-market/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jamogriff/guild-market/statuses/{sha}","languages_url":"https://api.github.com/repos/jamogriff/guild-market/languages","stargazers_url":"https://api.github.com/repos/jamogriff/guild-market/stargazers","contributors_url":"https://api.github.com/repos/jamogriff/guild-market/contributors","subscribers_url":"https://api.github.com/repos/jamogriff/guild-market/subscribers","subscription_url":"https://api.github.com/repos/jamogriff/guild-market/subscription","commits_url":"https://api.github.com/repos/jamogriff/guild-market/commits{/sha}","git_commits_url":"https://api.github.com/repos/jamogriff/guild-market/git/commits{/sha}","comments_url":"https://api.github.com/repos/jamogriff/guild-market/comments{/number}","issue_comment_url":"https://api.github.com/repos/jamogriff/guild-market/issues/comments{/number}","contents_url":"https://api.github.com/repos/jamogriff/guild-market/contents/{+path}","compare_url":"https://api.github.com/repos/jamogriff/guild-market/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jamogriff/guild-market/merges","archive_url":"https://api.github.com/repos/jamogriff/guild-market/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jamogriff/guild-market/downloads","issues_url":"https://api.github.com/repos/jamogriff/guild-market/issues{/number}","pulls_url":"https://api.github.com/repos/jamogriff/guild-market/pulls{/number}","milestones_url":"https://api.github.com/repos/jamogriff/guild-market/milestones{/number}","notifications_url":"https://api.github.com/repos/jamogriff/guild-market/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jamogriff/guild-market/labels{/name}","releases_url":"https://api.github.com/repos/jamogriff/guild-market/releases{/id}","deployments_url":"https://api.github.com/repos/jamogriff/guild-market/deployments","created_at":"2021-06-10T19:03:25Z","updated_at":"2021-07-13T22:06:43Z","pushed_at":"2021-07-13T22:06:40Z","git_url":"git://github.com/jamogriff/guild-market.git","ssh_url":"git@github.com:jamogriff/guild-market.git","clone_url":"https://github.com/jamogriff/guild-market.git","svn_url":"https://github.com/jamogriff/guild-market","homepage":"https://fast-thicket-12279.herokuapp.com/","size":2348,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main"}},"base":{"label":"jamogriff:main","ref":"main","sha":"b0eeb46cea98ec0c1938e66a412fec65f30d93d8","user":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https[...]
