---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, delete_repo, read:repo_hook, repo, repo:status, repo_deployment,
        security_events, write:repo_hook
      Location:
      - https://api.github.com/repositories/375803339/contributors
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4884'
      X-Ratelimit-Reset:
      - '1626220483'
      X-Ratelimit-Used:
      - '116'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/375803339/contributors","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Tue, 13 Jul 2021 22:55:23 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/guild-market/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d2c0c3835cedce834c2927dca72afbe348aafcdfd6d520e951e5d4c3224c337"
      Last-Modified:
      - Tue, 13 Jul 2021 22:06:43 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3971'
      X-Ratelimit-Reset:
      - '1626220483'
      X-Ratelimit-Used:
      - '1029'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"suzkiee","id":70981102,"node_id":"MDQ6VXNlcjcwOTgxMTAy","avatar_url":"https://avatars.githubusercontent.com/u/70981102?v=4","gravatar_id":"","url":"https://api.github.com/users/suzkiee","html_url":"https://github.com/suzkiee","followers_url":"https://api.github.com/users/suzkiee/followers","following_url":"https://api.github.com/users/suzkiee/following{/other_user}","gists_url":"https://api.github.com/users/suzkiee/gists{/gist_id}","starred_url":"https://api.github.com/users/suzkiee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/suzkiee/subscriptions","organizations_url":"https://api.github.com/users/suzkiee/orgs","repos_url":"https://api.github.com/users/suzkiee/repos","events_url":"https://api.github.com/users/suzkiee/events{/privacy}","received_events_url":"https://api.github.com/users/suzkiee/received_events","type":"User","site_admin":false,"contributions":158},{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/u[...]
