---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, delete_repo, read:repo_hook, repo, repo:status, repo_deployment,
        security_events, write:repo_hook
      Location:
      - https://api.github.com/repositories/375803339
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4885'
      X-Ratelimit-Reset:
      - '1626220483'
      X-Ratelimit-Used:
      - '115'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/375803339","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Tue, 13 Jul 2021 22:55:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/guild-market
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d5af1587d5008d0e100ae7bebb6a1ce057261e5448f8171a87666afe7046f04"
      Last-Modified:
      - Tue, 13 Jul 2021 22:06:43 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3972'
      X-Ratelimit-Reset:
      - '1626220483'
      X-Ratelimit-Used:
      - '1028'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":375803339,"node_id":"MDEwOlJlcG9zaXRvcnkzNzU4MDMzMzk=","name":"guild-market","full_name":"jamogriff/guild-market","private":false,"owner":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/users/jamogriff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamogriff/subscriptions","organizations_url":"https://api.github.com/users/jamogriff/orgs","repos_url":"https://api.github.com/users/jamogriff/repos","events_url":"https://api.github.com/users/jamogriff/events{/privacy}","received_events_url":"https://api.github.com/users/jamogriff/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jamogriff/guild-market","description":"A
        TDD-driven Rails application to replicate \"Etsy-like\" marketplace functionality.
        ","fork":true,"url":"https://api.github.com/repos/jamogriff/guild-market","forks_url":"https://api.github.com/repos/jamogriff/guild-market/forks","keys_url":"https://api.github.com/repos/jamogriff/guild-market/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jamogriff/guild-market/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jamogriff/guild-market/teams","hooks_url":"https://api.github.com/repos/jamogriff/guild-market/hooks","issue_events_url":"https://api.github.com/repos/jamogriff/guild-market/issues/events{/number}","events_url":"https://api.github.com/repos/jamogriff/guild-market/events","assignees_url":"https://api.github.com/repos/jamogriff/guild-market/assignees{/user}","branches_url":"https://api.github.com/repos/jamogriff/guild-market/branches{/branch}","tags_url":"https://api.github.com/repos/jamogriff/guild-market/tags","blobs_url":"https://api.github.com/repos/jamogriff/guild-market/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jamogriff/guild-market/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jamogriff/guild-market/git/refs{/sha}","trees_url":"https://api.github.com/repos/jamogriff/guild-market/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jamogriff/guild-market/statuses/{sha}","languages_url":"https://api.github.com/repos/jamogriff/guild-market/languages","stargazers_url":"https://api.github.com/repos/jamogriff/guild-market/stargazers","contributors_url":"https://api.github.com/repos/jamogriff/guild-market/contributors","subscribers_url":"https://api.github.com/repos/jamogriff/guild-market/subscribers","subscription_url":"https://api.github.com/repos/jamogriff/guild-market/subscription","commits_url":"https://api.github.com/repos/jamogriff/guild-market/commits{/sha}","git_commits_url":"https://api.github.com/repos/jamogriff/guild-market/git/commits{/sha}","comments_url":"https://api.github.com/repos/jamogriff/guild-market/comments{/number}","issue_comment_url":"https://api.github.com/repos/jamogriff/guild-market/issues/comments{/number}","contents_url":"https://api.github.com/repos/jamogriff/guild-market/contents/{+path}","compare_url":"https://api.github.com/repos/jamogriff/guild-market/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jamogriff/guild-market/merges","archive_url":"https://api.github.com/repos/jamogriff/guild-market/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jamogriff/guild-market/downloads","issues_url":"https://api.github.com/repos/jamogriff/guild-market/issues{/number}","pulls_url":"https://api.github.com/repos/jamogriff/guild-market/pulls{/number}","milestones_url":"https://api.github.com/repos/jamogriff/guild-market/milestones{/number}","notifications_url":"https://api.github.com/repos/jamogriff/guild-market/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jamogriff/guild-market/labels{/name}","releases_url":"https://api.github.com/repos/jamogriff/guild-market/releases{/id}","deployments_url":"https://api.github.com/repos/jamogriff/guild-market/deployments","created_at":"2021-06-10T19:03:25Z","updated_at":"2021-07-13T22:06:43Z","pushed_at":"2021-07-13T22:06:40Z","git_url":"git://github.com/jamogriff/guild-market.git","ssh_url":"git@github.com:jamogriff/guild-market.git","clone_url":"https://github.com/jamogriff/guild-market.git","svn_url":"https://github.com/jamogriff/guild-market","homepage":"https://fast-thicket-12279.herokuapp.com/","size":2348,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"push":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"parent":{"id":372941591,"node_id":"MDEwOlJlcG9zaXRvcnkzNzI5NDE1OTE=","name":"little-esty-shop","full_name":"suzkiee/little-esty-shop","private":false,"owner":{"login":"suzkiee","id":70981102,"node_id":"MDQ6VXNlcjcwOTgxMTAy","avatar_url":"https://avatars.githubusercontent.com/u/70981102?v=4","gravatar_id":"","url":"https://api.github.com/users/suzkiee","html_url":"https://github.com/suzkiee","followers_url":"https://api.github.com/users/suzkiee/followers","following_url":"https://api.github.com/users/suz[...]
