---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/little-esty-shop/pulls?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cc3e411f608e73ab1fe8022ccd522c8993448a9b1485e4f9d33a1cb19a5c529"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1623530563'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/jamogriff/little-esty-shop/pulls/1","id":668322252,"node_id":"MDExOlB1bGxSZXF1ZXN0NjY4MzIyMjUy","html_url":"https://github.com/jamogriff/little-esty-shop/pull/1","diff_url":"https://github.com/jamogriff/little-esty-shop/pull/1.diff","patch_url":"https://github.com/jamogriff/little-esty-shop/pull/1.patch","issue_url":"https://api.github.com/repos/jamogriff/little-esty-shop/issues/1","number":1,"state":"closed","locked":false,"title":"Adds
        all model relationships","user":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/users/jamogriff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamogriff/subscriptions","organizations_url":"https://api.github.com/users/jamogriff/orgs","repos_url":"https://api.github.com/users/jamogriff/repos","events_url":"https://api.github.com/users/jamogriff/events{/privacy}","received_events_url":"https://api.github.com/users/jamogriff/received_events","type":"User","site_admin":false},"body":"","created_at":"2021-06-11T16:20:18Z","updated_at":"2021-06-11T16:20:26Z","closed_at":"2021-06-11T16:20:26Z","merged_at":"2021-06-11T16:20:26Z","merge_commit_sha":"33d7ef1c4eb922879bf2b9fd57d1e30d40ed60c6","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/jamogriff/little-esty-shop/pulls/1/commits","review_comments_url":"https://api.github.com/repos/jamogriff/little-esty-shop/pulls/1/comments","review_comment_url":"https://api.github.com/repos/jamogriff/little-esty-shop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/jamogriff/little-esty-shop/issues/1/comments","statuses_url":"https://api.github.com/repos/jamogriff/little-esty-shop/statuses/3f1ed428ddbb4b527961fb66c94680264f02c07a","head":{"label":"jamogriff:model-relationships","ref":"model-relationships","sha":"3f1ed428ddbb4b527961fb66c94680264f02c07a","user":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/users/jamogriff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamogriff/subscriptions","organizations_url":"https://api.github.com/users/jamogriff/orgs","repos_url":"https://api.github.com/users/jamogriff/repos","events_url":"https://api.github.com/users/jamogriff/events{/privacy}","received_events_url":"https://api.github.com/users/jamogriff/received_events","type":"User","site_admin":false},"repo":{"id":375803339,"node_id":"MDEwOlJlcG9zaXRvcnkzNzU4MDMzMzk=","name":"little-esty-shop","full_name":"jamogriff/little-esty-shop","private":false,"owner":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/users/jamogriff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamogriff/subscriptions","organizations_url":"https://api.github.com/users/jamogriff/orgs","repos_url":"https://api.github.com/users/jamogriff/repos","events_url":"https://api.github.com/users/jamogriff/events{/privacy}","received_events_url":"https://api.github.com/users/jamogriff/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jamogriff/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/jamogriff/little-esty-shop","forks_url":"https://api.github.com/repos/jamogriff/little-esty-shop/forks","keys_url":"https://api.github.com/repos/jamogriff/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jamogriff/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jamogriff/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/jamogriff/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/jamogriff/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/jamogriff/little-esty-shop/events","assignees_url":"https://api.github.com/repos/jamogriff/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/jamogriff/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/jamogriff/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/jamogriff/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jamogriff/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jamogriff/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/jamogriff/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jamogriff/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/jamogriff/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/jamogriff/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/jamogriff/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/jamogriff/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/jamogriff/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/jamogriff/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/jamogriff/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/jamogriff/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/jamogriff/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/jamogriff/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/jamogriff/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jamogriff/little-esty-shop/merges","archive_url":"https://api.github.com/repos/jamogriff/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jamogriff/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/jamogriff/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/jamogriff/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/jamogriff/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/jamogriff/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jamogriff/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/jamogriff/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/jamogriff/little-esty-shop/deployments","created_at":"2021-06-10T19:03:25Z","updated_at":"2021-06-11T16:20:29Z","pushed_at":"2021-06-11T16:20:26Z","git_url":"git://github.com/jamogriff/little-esty-shop.git","ssh_url":"git@github.com:jamogriff/little-esty-shop.git","clone_url":"https://github.com/jamogriff/little-esty-shop.git","svn_url":"https://github.com/jamogriff/little-esty-shop","homepage":"https://little-esty-shop-jjns.herokuapp.com/","size":2280,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main"}},"base":{"label":"jamogriff:main","ref":"main","sha":"31e8300320da83b0052506e5c499c3ddbe8c014e","user":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https[...]
