<h2><%= @merchant.name %>'s Discounts</h2>

<ul>
  <% @merchant.bulk_discounts.each do |discount| %>
    <li><%= discount.percentage_discount * 100 %>% off when purchasing <%= discount.quantity_threshold %> or more items.
      <%= link_to "More Info", merchant_bulk_discount_path(merchant_id: @merchant.id, id: discount.id), id: "discount-#{discount.id}" %>
    </li>
  <% end %>
</ul>
