<h2>Create a New Discount</h2>
<p>Please enter a decimal (ex: 0.1 for 10%) and a number larger than 5 for your quantity.</p>
<%= render partial: 'form', locals: { models: [@merchant, BulkDiscount.new] } %>
