---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/little-esty-shop/pulls?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"706b898645a71c3dc492edbb64c4e322060070b419d3468d8f5fb0258fe82ab4"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1623864823'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/jamogriff/little-esty-shop/pulls/4","id":670809270,"node_id":"MDExOlB1bGxSZXF1ZXN0NjcwODA5Mjcw","html_url":"https://github.com/jamogriff/little-esty-shop/pull/4","diff_url":"https://github.com/jamogriff/little-esty-shop/pull/4.diff","patch_url":"https://github.com/jamogriff/little-esty-shop/pull/4.patch","issue_url":"https://api.github.com/repos/jamogriff/little-esty-shop/issues/4","number":4,"state":"closed","locked":false,"title":"Implement
        discounts","user":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/users/jamogriff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamogriff/subscriptions","organizations_url":"https://api.github.com/users/jamogriff/orgs","repos_url":"https://api.github.com/users/jamogriff/repos","events_url":"https://api.github.com/users/jamogriff/events{/privacy}","received_events_url":"https://api.github.com/users/jamogriff/received_events","type":"User","site_admin":false},"body":"","created_at":"2021-06-15T22:53:09Z","updated_at":"2021-06-15T22:54:58Z","closed_at":"2021-06-15T22:54:54Z","merged_at":"2021-06-15T22:54:54Z","merge_commit_sha":"1a7348032a9abe069cafb5ab5d3f04cee145c10a","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/jamogriff/little-esty-shop/pulls/4/commits","review_comments_url":"https://api.github.com/repos/jamogriff/little-esty-shop/pulls/4/comments","review_comment_url":"https://api.github.com/repos/jamogriff/little-esty-shop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/jamogriff/little-esty-shop/issues/4/comments","statuses_url":"https://api.github.com/repos/jamogriff/little-esty-shop/statuses/aa9cc8da788c0c47bc420803af0b101676c48ce9","head":{"label":"jamogriff:implement-discounts","ref":"implement-discounts","sha":"aa9cc8da788c0c47bc420803af0b101676c48ce9","user":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/users/jamogriff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamogriff/subscriptions","organizations_url":"https://api.github.com/users/jamogriff/orgs","repos_url":"https://api.github.com/users/jamogriff/repos","events_url":"https://api.github.com/users/jamogriff/events{/privacy}","received_events_url":"https://api.github.com/users/jamogriff/received_events","type":"User","site_admin":false},"repo":{"id":375803339,"node_id":"MDEwOlJlcG9zaXRvcnkzNzU4MDMzMzk=","name":"little-esty-shop","full_name":"jamogriff/little-esty-shop","private":false,"owner":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/users/jamogriff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamogriff/subscriptions","organizations_url":"https://api.github.com/users/jamogriff/orgs","repos_url":"https://api.github.com/users/jamogriff/repos","events_url":"https://api.github.com/users/jamogriff/events{/privacy}","received_events_url":"https://api.github.com/users/jamogriff/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jamogriff/little-esty-shop","description":"A
        TDD-driven Rails application to replicate \"Etsy-like\" marketplace functionality.
        ","fork":true,"url":"https://api.github.com/repos/jamogriff/little-esty-shop","forks_url":"https://api.github.com/repos/jamogriff/little-esty-shop/forks","keys_url":"https://api.github.com/repos/jamogriff/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jamogriff/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jamogriff/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/jamogriff/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/jamogriff/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/jamogriff/little-esty-shop/events","assignees_url":"https://api.github.com/repos/jamogriff/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/jamogriff/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/jamogriff/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/jamogriff/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jamogriff/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jamogriff/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/jamogriff/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jamogriff/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/jamogriff/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/jamogriff/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/jamogriff/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/jamogriff/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/jamogriff/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/jamogriff/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/jamogriff/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/jamogriff/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/jamogriff/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/jamogriff/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/jamogriff/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jamogriff/little-esty-shop/merges","archive_url":"https://api.github.com/repos/jamogriff/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jamogriff/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/jamogriff/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/jamogriff/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/jamogriff/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/jamogriff/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jamogriff/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/jamogriff/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/jamogriff/little-esty-shop/deployments","created_at":"2021-06-10T19:03:25Z","updated_at":"2021-06-16T03:48:45Z","pushed_at":"2021-06-16T02:51:20Z","git_url":"git://github.com/jamogriff/little-esty-shop.git","ssh_url":"git@github.com:jamogriff/little-esty-shop.git","clone_url":"https://github.com/jamogriff/little-esty-shop.git","svn_url":"https://github.com/jamogriff/little-esty-shop","homepage":"https://fast-thicket-12279.herokuapp.com/","size":2278,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main"}},"base":{"label":"jamogriff:main","ref":"main","sha":"b0eeb46cea98ec0c1938e66a412fec65f30d93d8","user":{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https[...]
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6edc8b4dc242dbdeaa4ed842aef355da5e6c6e495577854dbe53c71d3b333d88"
      Last-Modified:
      - Wed, 16 Jun 2021 03:48:45 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1623864823'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"suzkiee","id":70981102,"node_id":"MDQ6VXNlcjcwOTgxMTAy","avatar_url":"https://avatars.githubusercontent.com/u/70981102?v=4","gravatar_id":"","url":"https://api.github.com/users/suzkiee","html_url":"https://github.com/suzkiee","followers_url":"https://api.github.com/users/suzkiee/followers","following_url":"https://api.github.com/users/suzkiee/following{/other_user}","gists_url":"https://api.github.com/users/suzkiee/gists{/gist_id}","starred_url":"https://api.github.com/users/suzkiee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/suzkiee/subscriptions","organizations_url":"https://api.github.com/users/suzkiee/orgs","repos_url":"https://api.github.com/users/suzkiee/repos","events_url":"https://api.github.com/users/suzkiee/events{/privacy}","received_events_url":"https://api.github.com/users/suzkiee/received_events","type":"User","site_admin":false,"contributions":158},{"login":"jamogriff","id":7916354,"node_id":"MDQ6VXNlcjc5MTYzNTQ=","avatar_url":"https://avatars.githubusercontent.com/u/7916354?v=4","gravatar_id":"","url":"https://api.github.com/users/jamogriff","html_url":"https://github.com/jamogriff","followers_url":"https://api.github.com/users/jamogriff/followers","following_url":"https://api.github.com/users/jamogriff/following{/other_user}","gists_url":"https://api.github.com/users/jamogriff/gists{/gist_id}","starred_url":"https://api.github.com/u[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, delete_repo, read:repo_hook, repo, repo:status, repo_deployment,
        security_events, write:repo_hook
      Location:
      - https://api.github.com/repositories/375803339
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1626220483'
      X-Ratelimit-Used:
      - '47'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/375803339","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Tue, 13 Jul 2021 22:54:58 GMT
[...]
- request:
    method: get
    uri: https://date.nager.at/api/v2/NextPublicHolidays/US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2021-09-06","localName":"Labor Day","name":"Labour Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2021-10-11","localName":"Columbus
        Day","name":"Columbus Day","countryCode":"US","fixed":false,"global":false,"counties":["US-AL","US-AZ","US-CO","US-CT","US-DC","US-GA","US-ID","US-IL","US-IN","US-IA","US-KS","US-KY","US-LA","US-ME","US-MD","US-MA","US-MS","US-MO","US-MT","US-NE","US-NH","US-NJ","US-NM","US-NY","US-NC","US-OH","US-OK","US-PA","US-RI","US-SC","US-TN","US-UT","US-VA","US-WV"],"launchYear":null,"types":["Public"]},{"date":"2021-11-11","localName":"Veter[...]
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/guild-market
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d5af1587d5008d0e100ae7bebb6a1ce057261e5448f8171a87666afe7046f04"
      Last-Modified:
      - Tue, 13 Jul 2021 22:06:43 GMT
      X-Oauth-Scopes:
      - re[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/guild-market/pulls?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f621882a0884ccfc3479c323da243b269ec59d3e59a16455c77a5ca1e1516357"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - '[...]
- request:
    method: get
    uri: https://api.github.com/repos/jamogriff/guild-market/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - SECRET
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d2c0c3835cedce834c2927dca72afbe348aafcdfd6d520e951e5d4c3224c337"
      Last-Modified:
      - Tue, 13 Jul 2021 22:06:43 GMT
      X-Oauth-Scope[...]
[...]
